# Whether to unit test
[unittest]
ut = false
llt = false

[coverage]
LLT = false

[cangjie_library]
charset = https://gitee.com/HW-PLLab/charset.git

[cangjie_library_branch]
charset = fix_warning